<head>

	<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">

	<script src="//use.typekit.net/uom8yau.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>


<body>

	<section class="header">
		<a href="/"><img id="logo" src="/images/bookmarklogo-01.png"></a>
	</section>

	<% if current_user %>
	Welcome, <%= current_user.email %>
	<% end %>
	<%= yield %>

	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form.
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>

	<% if current_user %>
	Welcome, <%= current_user.email %>
	<form method="post" action="/sessions">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign out">
	</form>
	<% end %>

	<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
		<% end %>

</body>

